name: alatareekeh
description: A new Flutter application.

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  sizer: ^1.1.7
  shared_preferences: ^0.5.12+4
  easy_localization: ^2.3.3
  animated_text_kit: ^3.0.1
  http: ^0.12.2
  modal_progress_hud: ^0.1.3
  google_maps_flutter: ^1.0.6
  date_time_picker: ^1.1.0


  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_launcher_icons: "^0.8.0"
flutter_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/ui/icon/appicon.png"

flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
  - assets/ui/splashscreen/
  - assets/ui/splashscreen/appicon.png
  - assets/resources/strings/en.json
  - assets/resources/strings/ar.json
  - assets/ui/privacypolicy/
  - assets/ui/login/
  - assets/ui/register/
  - assets/ui/forgetpassword/

  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
